/* home style */

/* part1 style */
/* part2 style */

/* part3 style */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.page {
  background-color: black;
  display: flex;
  flex-direction: column;
}

.field {
  height: 15%;
  width: 15%;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  color: aliceblue;
  font-size: larger;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}

.intro {
  height: 15vh;
  background-color: rgb(53, 193, 212);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.explanation {
  margin: 20px 40px;
  padding: 20px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  font-size: large;
}

#red {
  background-color: red;
}

#yellow {
  background-color: rgb(156, 156, 7);
}

#pink {
  background-color: rgb(223, 52, 109);
}

#purple {
  background-color: purple;
}

#orange {
  background-color: orange;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}
