/* CSS reset */
* {
  padding: 0px;
  border: 0px;
  margin: 0px;
}
@font-face {
  font-family: all;
  src: url(./print-clearly/print_clearly_tt.ttf);

}
body {
  font-family: all;
  font-weight: bold;
}
.main_container {
  background-image: url(https://images.unsplash.com/photo-1514496959998-c01c40915c5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  background-attachment: fixed;
  height: fit-content;
}
.title {
  background-image: url(https://www.tech.gov.sg/images/technews/not-an-ai-expert-no-problem-part-1.png);
  height: 600px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.title h1 {
  font-size: 20px;
    font-weight: bold;
  text-align: center;
  padding-top: 233px;
  padding-left: 42px;
}
.body {
  margin-top: 50px;
  perspective: 300px;
  z-index: 0;
}
.body1 {
  border-radius: 12px;
  background-color: silver;
  margin-left: 40px;
  margin-right: 40px;
  height: 150px;
  margin-bottom: 30px;
  transform-style: preserve-3d;
  transform: translateZ(0);
}
.body1 p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 65px;
}
.part-1 {
  position: absolute;
  inset: 0;
  position: relative;
  transform-style: preserve-3d;
  height: 100vh;
}
.separator {
  position: relative;
  left: 325px;
  margin-bottom: 100px;
}
.body2 {
  border-radius: 12px;
  background-color: silver;
  margin-left: 40px;
  margin-right: 40px;
  height: 150px;
  margin-bottom: 30px;
  transform-style: preserve-3d;
}
.body2 p {
  font-size: 20px;
  font-weight: 500px;
  text-align: center;
  padding-top: 65px;
}
