.header{
    background-color: aqua;
}
.title{
    background-color: lightpink;
}
.Gamming{
    background-color: violet;
}
.Medical{
    background-color:blueviolet;  
}
.Transcriting{
    background-color:rgb(131, 29, 227);  


}